node_modules/

# The bundles file, ignoring as it can be generated again from the source
dist/
dist/bundle.js

# ignore commiting configuration file
src/server/config.json

# mac
.DS_Store

# unit test coverage
coverage/

# certs
*.pem
certs/

# env secrets
.env

# storybook
storybook-static/
