/*
 * These style are "copied" from the google sheets dialog from the actual webpage
 */

.dialog {
  position: relative;
  padding: 24px;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 3px rgba(60, 64, 67, 0.15);
  background-color: #fff;
  border-radius: 8px;
  color: #3c4043;
}

.dialog__heading {
  box-sizing: content-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  margin-bottom: 16px;
}

.dialog__heading__title {
  color: #202124;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

.dialog__heading__close {
  position: absolute;
  display: block;
  padding: 7px;
  right: 0px;
  top: -3px;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 50%;

  opacity: 0.54;
}

.dialog__content {
  overflow-y: auto;
  overflow-x: auto;
}

.dialog__heading__close:after {
  background: none;
  content: url(//ssl.gstatic.com/images/icons/material/system/svg/close_18px.svg);
  height: 18px;
  width: 18px;
}

.dialog__heading__close:hover {
  background-color: #f1f3f4;
  opacity: 1;
}
