/* 
Materialize Tabs Style overrides
Apparently there is not a good way to set colors on materialize tabs
*/

.tabs .tab a {
  color: #000;
} /* Black color to the text */

.tabs .tab a:hover {
  background-color: transparent;
  color: #2e7d32;
} /* Text color on hover */

.tabs .tab a.active {
  background-color: transparent;
  color: #000;
} /* Background and text color when a tab is active */

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: rgba(181, 246, 178, 0.2);
  outline: none;
}

.tabs .indicator {
  background-color: #2e7d32;
} /* Color of underline */

/**
 * AUTOMATIC CATEGORIZATION
 */

#settings_automatic_categorization {
  max-height: 400px;
  border: 1px solid black;
}
